<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zatecky Hus - С жатецки хмел от Чехия</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Историята на пътуването на Сашо до Жатец, където расте благородният хмел, използван в Zatecky Hus. ">
    <meta name="keywords" content="zatecky, жатецки, хмел">
	  <meta property="fb:app_id" content="176964795710805"/>
    <meta property="og:title" content="Zatecky Hus - С жатецки хмел от Чехия" />
    <meta property="og:description" content="Историята на пътуването на Сашо до Жатец, където расте благородният хмел, използван в Zatecky Hus. " />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://zatecky.sportal.bg/" />
    <meta property="og:image" content="https://zatecky.sportal.bg/statics/assets/images/fb.png" />
    <meta property="og:site_name" content="zatecky" />

    <link rel="stylesheet" href="https://zatecky.sportal.bg/statics/assets/css/bootstrap.min.css?bash=24grfbsnia4op6y4vbh">
    <link rel="stylesheet" href="https://zatecky.sportal.bg/statics/assets/css/icons.css?bash=24grfbsnia4op6y4vbh">
    <link rel="stylesheet" href="https://zatecky.sportal.bg/statics/assets/css/style.css?bash=24grfbsnia4op6y4vbh">
    <link rel="stylesheet" href="https://zatecky.sportal.bg/statics/assets/css/responsive.css?bash=24grfbsnia4op6y4vbh">
    <link rel="stylesheet" href="https://zatecky.sportal.bg/statics/assets/css/color.css?bash=24grfbsnia4op6y4vbh">
    <link rel="stylesheet" href="https://zatecky.sportal.bg/statics/assets/css/custom_style.css?bash=24grfbsnia4op6y4vbh">
    <link rel="stylesheet" href="https://zatecky.sportal.bg/statics/assets/spd/spd.css?bash=24grfbsnia4op6y4vbh">
    <script src="https://zatecky.sportal.bg/statics/assets/spd/spd.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5736809-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){
          dataLayer.push(arguments);
        }
      gtag('js', new Date());
      gtag(
          'config', 'UA-5736809-1',
        { 'allow_display_features': true, 'anonymize_ip': true }
      );
    </script>

<script
	src="https://s0.2mdn.net/ads/studio/cached_libs/createjs_2015.11.26_54e1c3722102182bb133912ad4442e19_min.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v3.3&appId=176964795710805&autoLogAppEvents=1"></script>

    <div class="theme-layout">
<header>
    <span class="left">
        <img src="https://zatecky.sportal.bg/statics/assets/images/desktop/Left-Hops.png" alt="" class="left-hop ">
    </span>
    <a href="https://zatecky.sportal.bg/">
        <img src="https://zatecky.sportal.bg/statics/assets/images/desktop/middle-center.png" data-src-320="./images/desktop/picture-320.png" alt="" class="middle-center">
    </a>
    <span class="right">
        <img src="https://zatecky.sportal.bg/statics/assets/images/desktop/Right-Hops.png" alt="" class="right-hop img ">
    </span>
    <span class="drink-responsible">Консумирай Zatecky Hus с удоволствие и мярка</span>
</header>


<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row top-slider-padding">
                <div class="col-md-12">
                    <div class="posts-slider">
                                                                        <a href="https://zatecky.sportal.bg/article/17">
                            <div class="post-slide">
                                <img  src="https://zatecky.sportal.bg/statics/uploads/articles/2019/17_big.jpg" alt="Добре дошли в Жатец, Северна Чехия!" />
                                <div class="slide-post-text">
                                    <div class="slide-post-inner">
                                        <h3>Добре дошли в Жатец, Северна Чехия!</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                                                <a href="https://zatecky.sportal.bg/article/18">
                            <div class="post-slide">
                                <img  src="https://zatecky.sportal.bg/statics/uploads/articles/2019/18_big.jpg" alt="С вкус на традиция - историята на жатецки хмел" />
                                <div class="slide-post-text">
                                    <div class="slide-post-inner">
                                        <h3>С вкус на традиция - историята на жатецки хмел</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                                                <a href="https://zatecky.sportal.bg/article/22">
                            <div class="post-slide">
                                <img  src="https://zatecky.sportal.bg/statics/uploads/articles/2019/22_big.jpg" alt="“Там, където се вари бирата, животът е хубав” " />
                                <div class="slide-post-text">
                                    <div class="slide-post-inner">
                                        <h3>“Там, където се вари бирата, животът е хубав” </h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                                                <a href="https://zatecky.sportal.bg/article/23">
                            <div class="post-slide">
                                <img  src="https://zatecky.sportal.bg/statics/uploads/articles/2019/23_big.jpg" alt="Един спокоен жатецки ден или изкуството да правиш нищо" />
                                <div class="slide-post-text">
                                    <div class="slide-post-inner">
                                        <h3>Един спокоен жатецки ден или изкуството да правиш нищо</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                                                <a href="https://zatecky.sportal.bg/article/15">
                            <div class="post-slide">
                                <img  src="https://zatecky.sportal.bg/statics/uploads/articles/2019/15_big.jpg" alt="Точно навреме за една бира, нали?" />
                                <div class="slide-post-text">
                                    <div class="slide-post-inner">
                                        <h3>Точно навреме за една бира, нали?</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                                                <a href="https://zatecky.sportal.bg/article/16">
                            <div class="post-slide">
                                <img  src="https://zatecky.sportal.bg/statics/uploads/articles/2019/16_big.jpg" alt="Кратък наръчник за съчетаване на бира и храна" />
                                <div class="slide-post-text">
                                    <div class="slide-post-inner">
                                        <h3>Кратък наръчник за съчетаване на бира и храна</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                                            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                                        <div class="widget-title">
                        <h5>Последни истории</h5>
                    </div>
                    <div class="mulberry-blog gridview">
                        <div class="row">
                                                        <div class="col-md-6">
                                <div class="mulberry-post">
                                    <div class="mulberry-post-img">
                                        <a href="https://zatecky.sportal.bg/article/17"
                                            title="Добре дошли в Жатец, Северна Чехия!"><img
                                                src="https://zatecky.sportal.bg/statics/uploads/articles/2019/17.jpg"
                                                alt="Добре дошли в Жатец, Северна Чехия!"></a>
                                    </div>
                                    <h2 class="post-title"><a
                                            href="https://zatecky.sportal.bg/article/17"
                                            title="Добре дошли в Жатец, Северна Чехия!">Добре дошли в Жатец, Северна Чехия!</a></h2>
                                    <p>Žatec. Това пишеше на табелата, която Сашо държеше насред пътя на излизане от Прага. Но знаеше ли къде отива всъщност? </p>
                                </div>
                            </div>
                                                        <div class="col-md-6">
                                <div class="mulberry-post">
                                    <div class="mulberry-post-img">
                                        <a href="https://zatecky.sportal.bg/article/18"
                                            title="С вкус на традиция - историята на жатецки хмел"><img
                                                src="https://zatecky.sportal.bg/statics/uploads/articles/2019/18.jpg"
                                                alt="С вкус на традиция - историята на жатецки хмел"></a>
                                    </div>
                                    <h2 class="post-title"><a
                                            href="https://zatecky.sportal.bg/article/18"
                                            title="С вкус на традиция - историята на жатецки хмел">С вкус на традиция - историята на жатецки хмел</a></h2>
                                    <p>На света има много видове хмел, но само няколко носят титлата “благороден”. </p>
                                </div>
                            </div>
                                                        <div class="col-md-6">
                                <div class="mulberry-post">
                                    <div class="mulberry-post-img">
                                        <a href="https://zatecky.sportal.bg/article/22"
                                            title="“Там, където се вари бирата, животът е хубав” "><img
                                                src="https://zatecky.sportal.bg/statics/uploads/articles/2019/22.jpg"
                                                alt="“Там, където се вари бирата, животът е хубав” "></a>
                                    </div>
                                    <h2 class="post-title"><a
                                            href="https://zatecky.sportal.bg/article/22"
                                            title="“Там, където се вари бирата, животът е хубав” ">“Там, където се вари бирата, животът е хубав” </a></h2>
                                    <p>Добре дошли в Zatecky Pivovar</p>
                                </div>
                            </div>
                                                        <div class="col-md-6">
                                <div class="mulberry-post">
                                    <div class="mulberry-post-img">
                                        <a href="https://zatecky.sportal.bg/article/23"
                                            title="Един спокоен жатецки ден или изкуството да правиш нищо"><img
                                                src="https://zatecky.sportal.bg/statics/uploads/articles/2019/23.jpg"
                                                alt="Един спокоен жатецки ден или изкуството да правиш нищо"></a>
                                    </div>
                                    <h2 class="post-title"><a
                                            href="https://zatecky.sportal.bg/article/23"
                                            title="Един спокоен жатецки ден или изкуството да правиш нищо">Един спокоен жатецки ден или изкуството да правиш нищо</a></h2>
                                    <p>Пий си пивото и се радвай на живота</p>
                                </div>
                            </div>
                                                        <div class="col-md-6">
                                <div class="mulberry-post">
                                    <div class="mulberry-post-img">
                                        <a href="https://zatecky.sportal.bg/article/15"
                                            title="Точно навреме за една бира, нали?"><img
                                                src="https://zatecky.sportal.bg/statics/uploads/articles/2019/15.jpg"
                                                alt="Точно навреме за една бира, нали?"></a>
                                    </div>
                                    <h2 class="post-title"><a
                                            href="https://zatecky.sportal.bg/article/15"
                                            title="Точно навреме за една бира, нали?">Точно навреме за една бира, нали?</a></h2>
                                    <p>Тук думата “pivo” се произнася с уважение</p>
                                </div>
                            </div>
                                                        <div class="col-md-6">
                                <div class="mulberry-post">
                                    <div class="mulberry-post-img">
                                        <a href="https://zatecky.sportal.bg/article/16"
                                            title="Кратък наръчник за съчетаване на бира и храна"><img
                                                src="https://zatecky.sportal.bg/statics/uploads/articles/2019/16.jpg"
                                                alt="Кратък наръчник за съчетаване на бира и храна"></a>
                                    </div>
                                    <h2 class="post-title"><a
                                            href="https://zatecky.sportal.bg/article/16"
                                            title="Кратък наръчник за съчетаване на бира и храна">Кратък наръчник за съчетаване на бира и храна</a></h2>
                                    <p>Какво върви със студеното ти пиво?</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                                    </div>

                <aside class="col-md-4 sidebar">
    <div class="widget">
        <div class="widget-title">
            <h5>За мен</h5>
        </div>
        <div class="about-widget">
            <img src="https://zatecky.sportal.bg/statics/assets/images/desktop/biren-estet.png" alt="за нас">
            <p>
            <span class="name">Александър Сотиров</span> <span>бирен естет</span>
            <br>
            За мен бирата е едно най-прекрасните творения на света и не смятам да споря по въпроса. Животът ми от години е приключение с вкус на хмел и почти всеки ден опитвам нови бири - класически и крафт от малки и големи пивоварни, всяка със свой характер. Тук е историята на моето пътуване до Жатец, където расте благородният хмел, използван в Zatecky Hus.</p>
        </div>
    </div>

    <div class="widget">
        ТУК
	</div>

</aside>

            </div>
        </div>
    </div>
</section>

    <section class="instagram-block">
    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <div class="instagram">
                    <div class="widget instagrams">
                        <div class="row">
                            <a class="col-lg-0" href="https://www.instagram.com/zateckyhusbulgaria" target="_blank"><i
                                    class="fa fa-instagram fa-2x"></i></a>
                            <p class="col-lg-7">За повече истории от приключението на Сашо в Жатец.</p>
                        </div>
                    </div>
                    <div class="row">
                                                <div class="col-md-2"><a href="https://www.instagram.com/p/CGz9rVQCUDj/" target="_blank"><img src="https://instagram.fsof3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/122552033_187484222818940_5008335112337230406_n.jpg?_nc_ht=instagram.fsof3-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=JDZTdSUzFUUAX-lMjgE&_nc_tp=24&oh=4755d8746ebaaf1345bc9b5aa748adba&oe=5FC10FDD"></a></div>
                                                <div class="col-md-2"><a href="https://www.instagram.com/p/CGkUAhaj1MG/" target="_blank"><img src="https://instagram.fsof3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/121942709_3702753673179017_4879170839645603050_n.jpg?_nc_ht=instagram.fsof3-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=WrezEdTG-aQAX_dG7VM&_nc_tp=24&oh=70311d23c1a13e9559d41797307043c3&oe=5FC23D37"></a></div>
                                                <div class="col-md-2"><a href="https://www.instagram.com/p/CF2CPy6iR6I/" target="_blank"><img src="https://instagram.fsof3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/120411587_383992239419311_2601701489656921502_n.jpg?_nc_ht=instagram.fsof3-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=4gauv03exRcAX_lf5GS&_nc_tp=24&oh=9762637538db3a236e0d3a8c64319a10&oe=5FC1E8A3"></a></div>
                                                <div class="col-md-2"><a href="https://www.instagram.com/p/CFrulJsizLu/" target="_blank"><img src="https://instagram.fsof3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.114.1080.1080a/s640x640/120236907_173595084372552_7760686716532962836_n.jpg?_nc_ht=instagram.fsof3-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=oDKdz3__TioAX_Kx7kf&oh=ad8f0331cdd0164aab612c8708c0274e&oe=5FBFE9FC"></a></div>
                                                <div class="col-md-2"><a href="https://www.instagram.com/p/CFRw4nbi9-m/" target="_blank"><img src="https://instagram.fsof3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/119642520_104552018026336_7588540605659436989_n.jpg?_nc_ht=instagram.fsof3-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=ot_owZIkzngAX8G0YKX&_nc_tp=24&oh=32adf92a6826739679e5691cfc1fd8c9&oe=5FC18933"></a></div>
                                                <div class="col-md-2"><a href="https://www.instagram.com/p/CFJ-ElKi0ye/" target="_blank"><img src="https://instagram.fsof3-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/119349134_237380944379991_7621521413034891343_n.jpg?_nc_ht=instagram.fsof3-1.fna.fbcdn.net&_nc_cat=103&_nc_ohc=-smnyabxTZYAX-WJ6Jp&oh=7156bcd153f428ba952b3d31c7580310&oe=5FC05C47"></a></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video-block">
    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <div class="video">
                    <div class="widget instagrams">
                        <div class="row">
                            <a class="col-lg-0" href="https://www.youtube.com/channel/UC8X8CYSUqUbxateXGXw8CpQ" target="_blank"><img src="../statics/assets/images/youtube_logo_100x32.png" alt="YouTube" /></a>
                            <p class="col-lg-7">За влога на Сашо от Жатец.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="video-embed">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/0f3sPkIUDtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="video-embed">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/EoIgxLTXizk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="video-embed">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/5cDe8ehYOuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="video-embed">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/IIhuaLUES8U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="video-embed">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/mnkl7yxgDdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="video-embed">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XNWo3nZS91o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

		<footer>

			<div class="bottom-strip">2019 © SMG Content Studio | <a href="https://www.sportal.bg/static_settings.php" target="_blank">Лични данни</a></div>

		</footer>

	</div>

	<script src="https://zatecky.sportal.bg/statics/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="https://zatecky.sportal.bg/statics/assets/js/html5lightbox.js" type="text/javascript"></script>
	<script src="https://zatecky.sportal.bg/statics/assets/js/enscroll-0.5.2.min.js" type="text/javascript"></script>
	<script src="https://zatecky.sportal.bg/statics/assets/js/owl.carousel.min.js"></script>
	<script src="https://zatecky.sportal.bg/statics/assets/js/script.js" type="text/javascript"></script>
	<script src="https://zatecky.sportal.bg/statics/assets/js/custom-script.js" type="text/javascript"></script>
	<script src="https://zatecky.sportal.bg/statics/assets/js/Zatecky-Hus-new.js" type="text/javascript"></script>

</body>

</html>
